<div id='container' >
  <!-- Your html here -->
  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a class='logout'  ng-click="signout()">Logout</a>
  </div>
  <input type="text" ng-model='searchText'>
  <div class="link" ng-repeat="link in data.links | orderBy:'-visits' | filter:searchText">
    <img src='/redirect_icon.png'/>
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
      </div>
  </div>
  <!-- <h1>{{data.links}}</h1> -->
</div>
