<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' ng-submit="submitForm(signinForm.$valid)" novalidate>
    <input type='text' ng-model='user.username' ng-minlength="6" ng-maxlength='16' required>
    <div>{{user.username ? 'is valid!' : 'userame must be between 6-16 characters'}}</div>
    <input type="password" ng-model='user.password' ng-minlength="6" ng-maxlength='18' required>
    <div>{{user.password ? 'is valid!!!!' : 'password must be between 6-16 characters'}}</div>
    <button>Sign In</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
